header nav ul {
    list-style-type: none;
    display: inline-flex;
}

header nav ul li {
    border: 1px solid #3490dc;
    border-radius: 5px;
    padding: 5px 15px;
    margin-right: 10px;
}

header nav ul li a {
    color: #000;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #3490dc;
    text-decoration: underline;
}

.content-wrapper {
    margin: 20px 30px;
}

header h1 {
    padding: 10px 150px;
}

.content-wrapper .form-wrapper {
    width: 500px;
}

.content-wrapper .form-group {
    margin: 10px 0;
}

.content-wrapper .control-label {
    display: inline-block;
    min-width: 150px;
    font-size: 16px;
    text-align: right;
    padding: 0px 15px;
}

.content-wrapper .control-input {
    display: inline-block;
    min-width: 150px;
    font-size: 16px;
    padding: 5px 15px;
}

.content-wrapper .radio-inputs .control-label {
    padding: 10px 20px 10px 0;
    cursor: pointer;
}

.content-wrapper .control-select {
    font-size: 16px;
    padding: 10px 15px;
    margin-right: 15px;
}

.content-wrapper .button-form {
    margin: 10px 0;
    width: 77%;
    text-align: right;
}

.content-wrapper .button-form button {
    font-size: 16px;
    padding: 10px 20px;
    width: 200px;
}

.content-wrapper .response-message,
.content-wrapper .error-message {
    font-size: 16px;
    padding: 20px 0;
    text-align: center;
}

.content-wrapper .error-message {
    color: #ff0000;
}

.content-wrapper .table-wrapper {
    width: 700px;
}

.table-wrapper tr a {
    color: #3490dc;
    text-decoration: none;
}

.content-wrapper .flex-wrapper {
    display: flex;
}

.content-wrapper .table-wrapper .row-arrival {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.content-wrapper .table-wrapper .row-departure {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.content-wrapper .table-wrapper th,
.content-wrapper .table-wrapper td {
    border: 1px solid #ddd;
    padding: 8px;
    width: 160px;
}

.content-wrapper .filter-sorting-wrapper {
    width: 600px;
    margin: 10px 5px 40px;
    padding: 15px;
    border: 1px solid #3490dc;
    border-radius: 5px;
}

.content-wrapper .filter-sorting-wrapper .button-form {
    text-align: left;
}
